<div *ngIf="!loading">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>
                    <h4>Total Comment: {{totalComment}} </h4>
                    <div class="comment mt-2 p-2 text-justify float-left border rounded"
                        *ngFor="let c of requiredComments">
                        <h4>{{ c.commented_by }}</h4> <span>- {{c.comment_date | date: 'MM.dd.yyyy'}}</span> <br>
                        <p>{{c.comment_text}}</p>
                        <p *ngIf="c.comment_rate == 1">⭐</p>
                        <p *ngIf="c.comment_rate == 2">⭐⭐</p>
                        <p *ngIf="c.comment_rate == 3">⭐⭐⭐</p>
                        <p *ngIf="c.comment_rate == 4">⭐⭐⭐⭐</p>
                        <p *ngIf="c.comment_rate == 5">⭐⭐⭐⭐⭐</p>

                    </div>

                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="algin-form">
                        <div class="form-group">
                            <h4>Leave a comment</h4> <label>Comment</label> <textarea
                                [(ngModel)]="commentAttr.comment_text" name="comment_text" cols="30" rows="5"
                                class="form-control" style="background-color: gray;"></textarea>
                        </div>
                        <div class="form-group">
                            <span class="span-star" *ngFor="let star of stars; let i = index" (click)="rate(i + 1)">
                                <ng-container *ngIf="star; else noStar">⭐</ng-container>
                                <ng-template #noStar>★</ng-template>
                            </span>
                        </div>
                        <!-- <div class="form-group"> <label>Name</label> <input #commented_by [(ngModel)]="commentAttr.commented_by" name="commented_by" type="text" id="fullname" class="form-control"> </div> -->
                        <div class="form-group"> <button type="button" id="post" (click)="createComment()"
                                class="btn btn-primary">Post Comment</button> </div>
                    </form>
                </div>
                <!-- <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="algin-form" [formGroup]="commentForm" (ngSubmit)="createComment()">
                        <div class="form-group">
                            <h4>Leave a comment</h4> <label for="comment">Comment</label> <textarea name="comment_text" [(ngModel)]="commentAttr.comment_text" formControlName="comment_text" cols="30" rows="5" class="form-control" style="background-color: gray;"></textarea>
                        </div>
                        <div class="form-group"> <label for="commented_by">Name</label> <input type="text" name="commented_by" [(ngModel)]="commentAttr.commented_by" id="fullname" class="form-control"> </div>
                        <div class="form-group"> <button type="button" id="post" class="btn btn-primary">Post Comment</button> </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>


<ng-template #no_product>
    <div class="alert alert-warning">
        Product Not Found.
    </div>
</ng-template>

<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>